<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		UMG - Compiladores
	</title>
	<link href="css/bootstrap.min.css" rel="stylesheet"/>
	<script src="js/utils.js">
	</script>
	<script src="js/angular.min.js">
	</script>
	<script src="js/angular-sanitize.js">
	</script>
	<script src="js/app.js">
	</script>
	<script src="js/language-service.js">
	</script>
	<script src="js/automata-service.js">
	</script>
	<script src="js/angular.ui.js">
	</script>
	<!-- Create a simple CodeMirror instance -->
	<link href="lib/codemirror.css" rel="stylesheet">        
	</link>
	<style>
		.tableFixHead          { overflow-y: auto; height: 270px; }
		.tableFixHead thead th { position: sticky; top: 0; }

		/* Just common table stuff. Really. */
		table  { border-collapse: collapse; width: 100%; }
		.tableFixHead th     { background: white; }
		
		 
	</style>
<script src="lib/codemirror.js">
</script>
</head>
<body ng-app="app">
	<main class="container-fluid" ng-controller="EditorController as controlador" role="main">
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#">
				UMG - Compiladores
			</a>
			<img src="logo-1.png" height="50">
		</nav>
		<div class="row my-2" style="margin:5px;">
			<div class="col">
				<button class="btn btn-outline-success my-2 my-sm-0" id="exampleFormControlFile1" ng-file-select="onFileSelect($files)" onclick="document.getElementById('selectedFile').click();">
					<i class="fas fa-file">
					</i>
				</button>
				<button class="btn btn-outline-success my-2 my-sm-0">
					<i class="fas fa-save">
					</i>
				</button>
				<button class="btn btn-outline-success my-2" ng-click="controlador.CambioEnEditor();">
					Léxico
				</button>
				<button class="btn btn-outline-success my-2" data-target="#exampleModal" data-toggle="modal">
					Tabla de Símbolos
				</button>
				<button class="btn btn-outline-success my-2" ng-click="controlador.AnalisisSintactico();">
					Sintáctico
				</button>
				<button class="btn btn-outline-success my-2" ng-click="controlador.AnalisisSemantico()">
					Semántico
				</button>
				<div class="pull-right" style="float:right;">
					<select class="form-control" ng-model="controlador.lenguaje">
						<option value="js">
							JS
						</option>
						<option value="csharp">
							C#
						</option>
					</select>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row row-cols-2">
				<div class="col">
					<h5>
						Editor
					</h5>
					<div class="form-group">
						<textarea class="form-control" id="editor" name="editor" ng-change="controlador.CambioEnEditor()" ng-model="controlador.codigo" ng-model-options="{ debounce: 1000 }" rows="15" ui-codemirror>
						</textarea>
					</div>
				</div>
				<div class="col">
					<h5>
						Léxico
					</h5>
					<div class="row" style="max-height: 320px !important; overflow: auto;">
						<div class="col">
							<div class="card">
								<div class="card-header">
									Tokens
								</div>
								<div class="card-body"  style="max-height: 260px !important; overflow: auto;">
									<ul class="list-group list-group-flush px-1 py-1">
										<li class="list-group-item px-1 py-1" ng-bind-html="controlador.RenderToken(token.string)" ng-repeat="token in controlador.tokens track by $index">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-cols-2">
				<div class="col" >
					<h5>
						Sintáctico
					</h5>
					<div class="row" style="max-height: 320px !important; overflow: auto;">
						<div class="col">
							<div class="card">
								<div class="card-body">
									<div class="tableFixHead">
										<table class="table">
											<thead>
												<tr>
													<th></th>
													<th scope="col">Línea</th>
													<th scope="col">Tipo</th>
													<th scope="col">Error</th>
												</tr>
											</thead>
											<tbody>                                      	
												<tr ng-repeat="error in controlador.erroresSintacticos track by $index">
													<td>
														<i class="fas fa-exclamation-circle text-danger">
														</i>
													</td>
													<td>{{error.linea}}</td>
													<td ng-bind-html="error.tipo"></td>
													<td ng-bind-html="error.error"></td>
												</tr>                                        
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col">
					<h5>
						Semántico
					</h5>
					<div class="row" style="max-height: 320px !important; overflow: auto;">
						<div class="col">
							<div class="card">
								<div class="card-body">
									<div class="tableFixHead">
										<table class="table">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col">Nombre</th>
													<th scope="col">Línea</th>
													<th scope="col">Valor</th>
													<th scope="col">Apariciones</th>
													<th scope="col">Tipo</th>
													<th scope="col">Mensaje</th>
												</tr>
											</thead>
											<tbody>                                      	
												<tr ng-repeat="simbolo in controlador.datosSemanticos track by $index">
													<td>
														<i ng-show="simbolo.valido" class="fas fa-check-circle text-success">
														</i>
														<i ng-show="!simbolo.valido" class="fas fa-exclamation-circle text-danger">
														</i>
													</td>
													<td>{{simbolo.nombre}}</td>
													<td>{{simbolo.linea}}</td>
													<td>{{simbolo.valor}}</td>
													<td>{{simbolo.apariciones}}</td>
													<td ng-bind-html="simbolo.tipo"></td>
													<td ng-bind-html="simbolo.mensaje"></td>
												</tr>                                        
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								Tabla De Símbolos
							</h5>
							<button aria-label="Cerrar" class="close" data-dismiss="modal" type="button">
								<span aria-hidden="true">
									×
								</span>
							</button>
						</div>
						<div class="modal-body">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Nombre</th>
										<th scope="col">Línea</th>
										<th scope="col">Tipo</th>
										<th scope="col">Valor</th>
									</tr>
								</thead>
								<tbody>                                      	
									<tr ng-repeat="simbolo in controlador.simbolos track by $index">
										<th scope="row">{{simbolo.nombre}}</th>
										<td>{{simbolo.linea + 1}}</td>
										<td>{{simbolo.valor}}</td>
										<td>{{simbolo.valor}}</td>
									</tr>                                        
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" data-dismiss="modal" type="button">
								Cerrar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</br>
</main>
<script src="js/jquery-3.4.1.slim.min.js">
</script>
<script src="js/popper.min.js">
</script>
<script src="js/bootstrap.min.js">
</script>
<script data-auto-replace-svg="nest" src="js/all.js">
</script>
</body>
</html>